/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.navbar {
  /* Optional: Define fixed height if necessary */
  height: 60px;
}

.body-container {
  flex: 1; /* Allows the body to expand and fill available space */
  padding: 20px;
  overflow-y: auto; /* Enables scrolling if content overflows */
}

.footer {
  height: 60px; /* Define footer height */
}
